.header {
    background: #212121;
    padding: 17px 27px;

    &__title {
        display: flex;
        align-items: center;

        &-img {
            margin-right: 10px;

            img {
                width: 32px;
                height: 32px;
            }
        }

        &-description {
            color: #fff;
            font-size: 32px;
            line-height: 37px;
        }
    }
}